 .h1 {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
    padding-top: 50px;
     
}

.p {
    font-size: 25px;
    align-self: center;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.previewimage {
    width: 220px;
    height: 140px;
    border-width: 1px;
    border: 1px solid;
    object-fit: cover;
}

.btn_common {
    width: 100px;
    height: 35px;
    align-self: center;
    border-radius: 30px;
    margin: 0;
    padding: 0;
    border: 2px solid rgba(0, 128, 128, 0.35);
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: #008080;    
}

.btn_common:hover, .btn_common:focus{
	background-color: #008080;
	color:#fff;
    transition: 0.5s ease;
}

#btn-create-preview {
    display: inline-block;    
    margin-left: 75px;   
}

.btn_crear {
    display: flex;    
    justify-content: right;
    margin-right: 150px;
}

#comment-container {
    background-color: aqua;
}

.fondos {
    background-color: rgba(255, 255, 255, 0.85);
    padding-bottom: 30px;
}

.search_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; 
}

.search_button {
    width: 100px;
    height: 35px;
    border-radius: 30px;
    margin: 10px; border: 2px solid #00808070;
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: #008080;
}