#navbar-container {
    height: 50px;
    align-content: center;
    width: 800px;
    
}

#input-search {
    width: 250px;
    height: 30px;
}

#btn-search {
    width: 100px;
    height: 35px;
    align-self: center;
    margin: 0;
    padding: 0;
    border: 2px solid rgba(0, 128, 128, 0.35);
}

.nav {
    display: inline-flex;
    justify-content: left; 
}

li {
    width: 110px;
}