#navbar-container {
    height: 50px;
    align-content: center;
    width: 800px;
    
}

#input-search {
    width: 250px;
    height: 30px;
}

.nav {
    display: inline-flex;
    justify-content: left; 
    align-items: center;
}

.nav-item {
    font-size: 30px;
    color:  rgba(71, 71, 71, 0.863);
}

.nav-item:hover {
    color: #008080;
    transition: 0.3s;  
}

li {
  margin: 15px;  
}