.container-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 700px;
    border-radius: 20px;
    margin-top: 25px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px 1px rgb(207, 206, 206);
}

.card-title {
    text-align: center;
    font-size: 25px;
    padding: 10px;
    text-transform: uppercase;
}

.card-img-top {
    display: flex;
    align-self: center;
    width: 650px;
    height: 380px;
    border: 2px solid black;
    object-fit: cover;      
}

.card-text {
    text-align: left;
    margin-left: 25px;
    margin-right: 25px;
}

.fecha > .fecha-text{
    display: flex;
    align-items: center;
    justify-content: right;
    height: 15px;
    font-size: 13px;
    margin-right: 40px;
}

/* Caja de comentarios */

#comment-card {
    display: flex;
    margin-bottom: 0px;   
    padding: 10px;
}

#comment-subcon {        
    margin: 5px
}

#card-image {    
    margin-right: 8px;
}



.icon-editar { 
    display: inline-flex;
    margin-left: 45px;
}

.icon-crear-comentario { 
    display: inline-flex;
    margin-left: 13px;    
}
.icon-borrar { 
    display: inline-flex;
    margin-left: 10px;  
}